#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
  color: #FAF7F2;
  text-align: center;
}

/*------------------ Logo stilleri ---------------*/

header {
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAF7F2;
  margin: 0;
  /* Varsayılan boşlukları kaldırır */
  height: 100vh;
  /* Sayfanın tamamını kaplar */
  background-image: url(/Assets/Iteration-1-assets/home-banner.png);
  background-size: cover;
  /* Resmi sayfayı dolduracak şekilde ölçeklendirir */
  background-repeat: no-repeat;
  /* Tekrarlamayı engeller */
  background-position: center;
  /* Resmi merkeze hizalar */
}

.header-top {
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAF7F2;
}


header .logo {
  width: 400px;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
  top: -250px;
}

.header-nav {
  width: 530px;
}

.description-ka {
  font-family: barlow;
  color: #FAF7F2;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 3rem;
  line-height: 0.3;
  position: relative;
  top: -200px;
}

.description-pd {
  font-family: 'barlow';
  color: #FAF7F2;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 3rem;
  line-height: 0.3;
  position: relative;
  top: -200px;
}

.description-fk {
  font-family: 'Satisfy';
  font-size: 30px;
  color: #FDC913;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 3rem;
  line-height: 0.3;
  position: relative;
  top: -200px;
}

/*-------------------------Home-page -------------------*/
header .order-button {
  font-family: 'barlow';
  font-weight: bold;
  background-color: #FDC913;
  color: #292929;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 100px;
  position: relative;
  top: -190px;
  cursor: pointer;
}

header .order-button:hover {
  background-color: #FDC913;
  color: #292929;
  transform: scale(1.05);
}

.container h3 {
  font-family: satisfy;
  color: #CE2829;
}

.container h2 {
  font-family: barlow;
  font-weight: bold;
  color: #292929;
}

.menu-text {
  display: flex;
  font-size: 15px;
  margin: 20px;
  font-weight: bold;
}

/*cards-component*/

.card-1 p {
  color: #FAF7F2;
  font-family: quattrocento;
  font-size: 65px;
  width: 300px;
  font-weight: bold;
  padding-left: 30px;
  margin-top: 25px;
}

.card-1-description {
  font-family: barlow;
  font-size: 20px;
  padding-left: 30px;
  margin-top: -10px;

}

.card-1-button,
.card-2-button,
.card-body button {
  background-color: #FAF7F2 !important;
  color: #CE2829 !important;
  border-radius: 30px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 10px;
  transition: all 0.3s ease;
  border: none;

}

.card-1-button {
  margin-left: 30px;
}

.card-2-button {
  margin-left: 30px;
}

.card-1-button:hover,
.card-body button:hover {
  background-color: #FAF7F2 !important;
}


.highlight-red {
  color: #CE2829;
}

.span-title {
  font-family: barlow;
  font-weight: bold;
  color: #292929;
  font-size: 30px;
}

.card-2 {
  color: #FAF7F2;
  font-size: 30px;
  width: 250px;
  font-weight: bold;
  padding-left: 30px;
  margin-top: 25px;
}














.success-order {
  background-color: #CE2829;
  color: white;
  padding-top: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.success-order h1 {
  font-size: 4rem;
  font-family: "barlow";
}

.success-order p {
  font-size: 4rem;
  font-family: "barlow";
}

/* ---------------order-form-----------------------*/

.header {
  background-color: #CE2829;
  padding: 25px 0;
  text-align: center;
}

.header-bottom {
  background-color: #FAF7F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FAF7F2;
}

.header-bottom img {
  width: 500px;
  margin-bottom: 6rem;

}

.header-nav {
  font-family: barlow;
  margin-top: -40px;

}

.pizza-title {
  margin-top: 35px;
  font-family: barlow;
  font-weight: bold;
  color:#292929;
}

.pizza-price {
  float: left;
  margin-top: 20px;
  justify-content: flex-start!important;
  font-family: barlow;
  font-weight: bold;
  color: #292929;
}

.pizza-description {
  line-height: 1.6;
  font-size: 1rem;
  text-align: left;
  color: #292929;
  font-family: barlow;
}

.pizza-rating {
  justify-content: flex-end;
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  font-size: 1rem;
  color: #292929;
  font-family: barlow;
}



input[type="checkbox"] {
  display: none;
  appearance: none;
}

input[type="checkbox"]+label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: barlow;
  color: #333;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #fff;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked+label::before {
  content: "✓";
  color: #292929;
  background-color: #FDC913;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: #FAF7F2;
  margin-right: 10px;
  display: flex;
  flex-shrink: 0;
}


input[type="checkbox"] {
  display: none;
  appearance: none;
}

input[type="checkbox"]+label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 16px;

  font-family: barlow;  color: #292929;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.toppings {
  font-family: barlow;
  color: #292929;
  font-weight: bold;
}

/*------*/
.size-select {
  align-items: center;
  margin-bottom: 20px;
}

.size-select label {
  color: #292929;
  font-size: 18px;
  font-weight: bold;
  font-family: barlow;}

.button-group {
  display: flex;
}

.size-select .radio-container {
  display: flex;
  position: relative;
  margin-top: 15px;
}

.size-select .radio-container input[type="radio"] {
  
  display: none;
}

.size-select .radio-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FAF7F2;
  font-size: 16px;
  color: #292929;  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.size-select .radio-container input[type="radio"]:checked+label {
  background-color: #FDC913;
}

.size-select .radio-container label::after {
  content: attr(data-size);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

.size-select .radio-container input[type="radio"]:checked+label::after {
  background-color: #FAF7F2;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.dough-select {
  display: flex;
  flex-direction: column;
  /* Yazı üstte, dropdown altta */
  align-items: left;
  /* Ortalamak için */
}

.dough-select label {
  color: #292929;
  font-size: 18px;
  font-weight: bold;
  font-family: barlow;}

.dough-select .dropdown {
  width: 100%;
  max-width: 300px;
  /* Dropdown'un genişliği */
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FAF7F2;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}


.name-area{
  color: #292929;
  font-weight: bold;
    font-family: barlow;
}
.name-input{
  border-radius: 5px;
  font-family: barlow;
  border: none;
  background-color: #FAF7F2;
}

.order-note{
  color: #292929;
  font-family: barlow;
  font-weight: bold;
}
.order-input{
  font-family: barlow;
}

.delivery{
  font-family: barlow;
  color: #292929;
  font-weight: bold;
}
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100px;
}

.quantity-button {
  display: flex;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.quantity-button-2 {
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.siparis-card {
  font-family: barlow;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  border-radius: 5px;
  background-color: #FAF7F2;
}


/*succes-order*/
.success-order .logo {
  width: 400px;
  margin-bottom: 4rem;
  margin-top: 50px;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.sub-title {
  font-family: satisfy;
  font-size: 1.5rem;
  margin-top: 10px;
  font-style: italic;
  color: #ffcc00;
}


.order-container {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  background-color: #FAF7F2;
}

.order-title {
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.pizza-info {
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.pizza-info h5 {
  font-family: barlow;
}

.pizza-info p {
  font-family: barlow;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  margin: auto;
  max-width: 300px;

}

.highlight {
  font-weight: bold;
}

.order-total {
  font-family: barlow;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border: 1px solid #FAF7F2;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  margin: 20px;


}

.order-total p {
  display: flex;
  font-family: barlow;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px;
  max-width: 300px;
}

.order-total h5 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: barlow;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  margin: auto;
  max-width: 300px;
}

.total {
  font-family: barlow;
  display: flex;
  justify-content: right;
  font-size: 16px;
  margin: auto;
  max-width: 300px;
  ;
}



.order-button {
  background-color: #ff4500;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #e63e00;
}



.logo-footer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.footer-title {
  margin-top: 50px;
  font-family: barlow;
  font-size: 20px;
  margin-left: 50px;

}

.social-media {
  margin-top: 50px;
  font-family: barlow;
  font-size: 20px;
}

.media-group {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  gap: 25px;
}


.bg-secondary {
  display: flex;
  height: 60px;
  width: 60px;

}

.list-unstyled {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
  padding: 10px;

}

@media (min-width: 350px) and (max-width: 768px) {

  .media-group
  {
    height: auto;
  }
  .navbar-nav {
    display: contents !important;
    width: 250px !important;
  }
  footer .row{
    display: contents !important;

  }

  footer .row>*{
    display: inline !important;
  }

  header .description-ka {
    flex-wrap: wrap;
    text-align: center;
    line-height: 1rem;
  }

  header .description-pd {
    flex-wrap: wrap;
    text-align: center;
    line-height: 1;
  }
  .navbar-nav {
    display: contents !important;
    width: 250px !important;
  }

  .navbar>.container-fluid {
    width: 350px !important;
  }
}

@media (min-width: 768px) and (max-width: 939px) {

  .media-group
  {
    height: auto;
  }
  .navbar-nav {
    display: contents !important;
    width: 250px !important;
  }

  header .description-ka {
    flex-wrap: wrap;
    text-align: center;
    line-height: 1;
  }

  header .description-pd {
    flex-wrap: wrap;
    text-align: center;
    line-height: 1;
  }
  .navbar-nav {
    display: contents !important;
    width: 250px !important;
  }

  .navbar>.container-fluid {
    width: 350px !important;
  }
}

@media (max-width: 939px) {
  header .description-ka {
    flex-wrap: wrap;
    text-align: center;
    line-height: 1;
  }

  header .description-pd {
    flex-wrap: wrap;
    text-align: center;
    line-height: 1;
  }



  .navbar-nav {
    display: contents !important;
    width: 250px !important;
  }

  .navbar>.container-fluid {
    width: 350px !important;
  }
}

@media (min-width: 940px) and (max-width: 1388px) {

  .navbar-nav {
    display: contents !important;
    width: 250px !important;
  }

  header .description-ka {

    flex-wrap: wrap;

    text-align: center;
    line-height: 1;
  }

  header .description-pd {

    flex-wrap: wrap;

    text-align: center;
    line-height: 1;
  }





}