#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.logo {
  
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
 
}






@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}

header {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

header .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "barlow";
}

 h5 {
  font-family: "barlow";
  font-weight: "bold";
  color: "#333";
}

/* Logo stilleri */
header {
  background-size: cover;
  background-position: center;
  height: 100h;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  
}

header .logo {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
  top: -250px;
  
  

}

header .tagline {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
  
  
}

header .description {
  font-family:"barlow" ;
  color: #FAF7F2;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 0.3;
  position: relative;
  top: -200px;
  letter-spacing: -2px;
}


header .order-button {
  font-family: "barlow";
  font-weight: bold;
  background-color: #FDC913;
  color: black;
  font-size: 0.75rem;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 100px;
  position: relative;
  top: -190px;
  cursor: pointer;
  
  
  
  
}

header .order-button:hover {
  background-color: FDC913;
  transform: scale(1.05);
}

.success-order {
  background-color:#CE2829;
  /* Kırmızı arka plan */
  color: white;
  padding-top: 0px;
  /* Beyaz metin */
  height: 100vh;
  /* Tam ekran yüksekliği */
  display: flex;
  /* Ortalamak için flex */
  flex-direction: column;

  /* Dikey ortalama */
  align-items: center;  
  /* Yatay ortalama */
  text-align: center;
}

.success-order .logo {
  width: 400px;
  /* Logonun genişliği */
  margin-bottom:12rem;
  /* Alt boşluk */
  margin-top:50px;

}

.success-order h1 {
  font-size: 4rem;
  font-family: "barlow";
  /* Başlık boyutu */
  
  
}

.success-order p {
  font-size: 4rem;
  font-family: "barlow";
  /* Mesaj boyutu */
}